@import url('https://fonts.googleapis.com/css2?family=Poppins');

*{
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
}

.container .image img{
    width: 100%;
    display: flex;
    border-radius: 100px;
}

a{
    text-decoration: none;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #fff;
}

nav{
    width: 1750px;
    max-width: 90%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 100;
    padding-top: 27px;
}

.nav-logo img{
    max-width: 100px;
}

.nav-links{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 6rem;
    margin: auto;
}


#menu-icon{
    font-size: 35px;
    cursor: pointer;
    z-index: 1001;
    display: none;
}

.link a{
    position: relative;
    padding-bottom: 0.75rem;
    color:  #27272a;
}

.link a::after{
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    bottom: 0;
    left: 0;
    background-color:  #27272a;
    transition: all 0.3s ease
}

.link a:hover:after{
    width: 100%;
}

.btn{
    padding: 1rem 2rem;
    font-size: 1rem;
    color: #fff;
    background-color: #27272a;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn:hover{
    background-color: rgb(82, 82, 82);
}


/* css slider */
.slider{
    height: 105vh;
    margin-top: -125px;
    position: relative;
}

.slider .list .item{
    position: absolute;
    inset: 0 0 0 0;
    overflow: hidden;
    opacity: 0;
    transition: .5s;
}

.slider .list .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider .list .item::after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    background-image: linear-gradient(
        to top, #fff 20%, transparent
    );
}

.slider .list .item .content1{
    position: absolute;
    left: 10%;
    top: 20%;
    width: 500px;
    max-width: 80%;
    z-index: 1;
    color: black;
}

.slider .list .item .content1 p:nth-child(1){
    text-transform: uppercase;
    letter-spacing: 10px;
}

.slider .list .item .content1 h2{
    font-size: 70px;
    margin: 0;
}

.slider .list .item.active{
    opacity: 1;
    z-index: 10;
}

@keyframes showContent1 {
    to{
        transform: translateY(0);
        filter: blur(0);
        opacity: 1;
    }
}

.slider .list .item.active p:nth-child(1),
.slider .list .item.active h2,
.slider .list .item.active p:nth-child(3){
    transform: translateY(30px);
    filter: blur(20px);
    opacity: 0;
    animation: showContent1 .5s .7s ease-in-out 1 forwards;
}

.slider .list .item.active h2{
    animation-delay: 1s;
}

.slider .list .item.active p:nth-child(3){
    animation-duration: 1.3s;
}

.arrows{
    position: absolute;
    top: 40%;
    right: 90px;
    z-index: 100;
    left: 1030px;
}

.arrows button{
    background-color: #27272a;
    border: none;
    font-family: 'Poppins';
    width: 40px;
    height: 40px;
    border-radius: 5px;
    font-size: x-large;
    color: #eee;
    z-index: 100;
    transition: .5s;
}

.arrows button:hover{
    background-color: #eee;
    color: black;
}

.thumbnail{
    position: absolute;
    bottom: 50px;
    z-index: 11;
    display: flex;
    gap: 10px;
    width: 100%;
    height: 250px;
    padding: 0 50px;
    box-sizing: border-box;
    overflow: auto;
    justify-content: center;
}

.thumbnail::-webkit-scrollbar{
    width: 0;
}

.thumbnail .item{
   width: 150px;
   height: 220px;
   filter: brightness(.5);
   transform: .5s; 
   flex-shrink: 0;
   color: #fff;
}

.thumbnail .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.thumbnail .item.active{
    filter: brightness(1);
}

.thumbnail .item .content1{
    position: absolute;
    inset: auto 10px 10px 10px;
}


/* Slider Finish */
.container{
    max-width: 1200px;
    margin: auto;
    padding: 5rem 2rem;
}

.blur{
    position: absolute;
    box-shadow: 0 0 800px 50px  #3498DB;
    z-index: -100;
}

header{
    position: relative;
    padding-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
}

header .content h4{
    margin-bottom: 1rem;
    color: #27272a;
    font-size: 1rem;
    font-weight: 600;
}

header .content h1{
    color: #27272a;
    margin-bottom: 1rem;
    font-size: 3rem;
    font-weight: 700;
    line-height: 4rem;
}

header .content h1 span{
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 0.1px orange;
}

header .content p{
    margin-bottom: 2rem;
    color: #27272a;
}

header .image{
    position: relative;
}

header .image img{
    max-width: 600px;
    margin: auto;
}

section .header {
    margin-bottom: 1rem;
    color: #27272a;
    text-align: center;
    font-size: 2.25rem;
    font-weight: 600;
}

/* Our Profile Start */
section #content .container{
    background-color: #323232;
}
.features{
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

.features .card{
    background-color: #fff;
    padding: 1rem;
    border : 2px solid transparent;
    border-radius: 15px;
    transition: all 0.3s ease;
    box-shadow: 0px 0px 15px -4px rgba(0,0,0,1);
-webkit-box-shadow: 0px 0px 15px -4px rgba(0,0,0,1);
-moz-box-shadow: 0px 0px 15px -4px rgba(0,0,0,1);
}

.features .card:hover{
    background-color: rgb(124, 124, 124);
    border-color: #fff;
}

.features .card img{
    border-radius: 300px;
    width: 100%;
    display: flex;
}

.features .card h4{
    margin-bottom: 0rem;
    color: #27272a;
    font-size: 1.2rem;
    font-weight: 600;
    display: flex;
    justify-content: center;
}

.features .card p{
    color: #27272a;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
}

.features .card a{
    color: #27272a;
    transition: all 0.3s ease;
    padding: 5px;
}

.features .card a:hover{
    color: orange;
}

.features .card a span{
    justify-content: space-between;
}

.features .card div{
    display: flex;
    justify-content: center;
}

/* Our Profile Finish */

/* News Start */


.sub-header{
    max-width: 600px;
    margin: auto;
    text-align: center;
    color: #ccc;
}

.pricing{
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.pricing .card{
    padding: 2rem 2rem;
    background-color:  #fff;
    display: flex;
    flex-direction: column;
    border: 2px solid transparent;
    border-radius: 15px;
    transition: all 0.3s ease;
    box-shadow: 0px 0px 15px -4px rgba(0,0,0,1);
    -webkit-box-shadow: 0px 0px 15px -4px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 15px -4px rgba(0,0,0,1);
}

.pricing .card:hover{
    background-color: rgb(124, 124, 124);
    border-color: #fff;
}

.pricing .card .content{
    flex: 1;
    margin-bottom: 2rem;
}

.pricing .card .content img{
    width: 100%;
    display: flex;
}

.pricing .card h4{
    margin-bottom: 1rem;
    color: #27272a;
    font-size: 1.2rem;
    font-weight: 500;
    display: flex;
    justify-content: center;
}

.pricing .card h3{
    color: black;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
    font-size: 2rem;
    font-weight: 600;
    border-bottom: 2px dashed #fff;
}

.pricing .card p{
    color: #27272a;
    margin-bottom: 0.75rem;
    display: flex;
    justify-content: center;
}

.pricing .card button{
    color: #27272a;
    background-color: transparent;
    border: 2px solid #27272a;
}

.pricing .card button:hover{
    background-color: orange;
    border-color: orange; 
}

/* News Finish */

footer{
    position: relative;
    display: grid;
    grid-template-columns: 400px repeat(3, 1fr);
    gap: 2rem;
}

footer .column .logo{
    max-width: 100px;
    margin-bottom: 2rem;
}
   
footer .column .logo img{
    width: 100%;
    display: flex;
}

footer .column p{
    color: #27272a;
    margin-bottom: 2rem;
}

footer .column .socials{
    display: flex;
    align-items: center;
    gap: 1rem;
}

footer .column .socials a{
    color: #323232;
    border: 1px solid #323232;
    padding: 5px 10px;
    font-size: 1.25rem;
    border-radius: 100%;
    transition: all 0.3s ease;
}

footer .column .socials a:hover{
    color: #fff;
    background-color: #1d4ed8;
    border-color: #1d4ed8;
}

footer .column h4{
    color: #323232;
    margin-bottom: 2rem;
    font-size: 1.2rem;
    font-weight: 500;
}

footer .column > a{
    display: block;
    color: gray;
    margin-bottom: 1rem;
    transition: all 0.3s ease;
}

footer .column > a:hover{
    color: #1d4ed8;
}

.copyright{
    max-width: 1200px;
    margin: auto;
    padding: 1rem;
    color: #323232;
    font-size: 0.8rem;
    text-align: center;
}

@media (width <900px){
    .nav-links{
        display: grid;
    }
    header{
        grid-template-columns: repeat(1, 1fr);
    }
    header .image img{
        grid-area: 1/1/2/2;
        max-width: 350px;
    }
    .features{
        grid-template-columns: repeat(2, 1fr);
    }
    .pricing{
        grid-template-columns: repeat(2, 1fr);
    }
    footer{
        grid-template-columns: 1fr 200px;
    }
    #menu-icon{
        display: inline-flex;
        padding-left: 10px;
    }
    .menu-bar{
        display: inline-flex;
        align-items: center;
    }
    .nav-links{
        position: absolute;
        top: 90%;
        right: -100%;
        width: 250px;
        height: 34vh;
        background-color: #323232;
        z-index: 100;
        display: none;
        justify-content: flex-start;
        border-radius: 10px;
        transition: all .50s ease;
        gap: 0;
    }
    .nav-links a{
        display: block;
        margin: 12px 0;
        padding: 0px 25px;
        transition: all .50s ease;
        color: #fff;
        z-index: 1000;
    }
    .nav-links a:after{
        background-color: #fff;
    }
    .nav-links a:hover:after{
        width: 100%;
        
    }
    nav{
        justify-content: space-between;
    }
    .nav-links.open{
        right: 2%;
        display: grid;
        z-index: 1000;
    }
    .thumbnail{
        justify-content: start;
    }
    .slider .list .item .content h2{
        font-size: 60px;
    }
    .arrows{
        top: 600px;
        left: 500px;
    }
}

@media (width < 600px){
    .content .image img::before{
        display: none;
    }
    .features{
        grid-template-columns: repeat(1, 1fr);
    }
    .pricing{
        grid-template-columns: repeat(1, 1fr);
    }
    footer{
        grid-template-columns: 1fr 150px;
    }
    .copyright{
        padding:5px;
    }
    .arrows{
        top: 516px;
        left: 214px;
    }
    .thumbnail{
        justify-content: start;
    }
}